.description {
    margin-top: 160px;
}

.description .image-container {
    display: flex;
}

.image-container {
    align-items: center;
    justify-content: center;
}

.splitter {
    margin: 80px auto 50px auto;
    width: 120px;
    height: 4px;
    background: rgba(254, 251, 246, 0.15);
    border-radius: 2px;
}

@media screen and (min-width: 1441px) {
    .splitter {
        width: 652px;
    }
}

@media screen and (max-width: 1440px) {
    .splitter {
        width: 652px;
    }
}

@media screen and (max-width: 1024px) {
    .splitter {
        width: 424px;
    }
}

@media screen and (max-width: 768px) {
    .splitter {
        width: 120px;
    }
    .description {
        margin-top: 60px;
    }
}