@media screen and (min-width: 768px) {
    .onboarding-title-text {
        padding: 50px 0;
    }
}

@media screen and (max-width: 768px) {
    .onboarding-title-text {
        padding: 20px 0;
    }
}

.onboarding {
    margin-top: 40px;
}

.onboarding-title-text {
    color: #FEFBF6;
}

.onboarding-content-text {
    line-height: 28px;
    color: rgba(254, 251, 246, 0.65);
}