.header {
    height: 88px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;

    /* _dust */
    background: #1A1D1D;
}

.header-link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.0025em;
    cursor: pointer;
    color: #FEFBF6;
}

.navlink-col {
    text-align: center;
}

.header-link:hover, .header-link:active, .header-link:focus {
    color: #babeb8;
    text-decoration: none;
}

.navbar.navigation {
    padding-left: 0;
    padding-right: 0;
}

.navbar-nav {
    padding-top: 8px;
    width: 100%;
    justify-content: space-between;
}

.logo {
    width: 212px;
 }

.lang-picker {
    display: inline-flex;
    margin: 15px 0;
    vertical-align: middle;
}

.lang-picker__text {
    font-size: 20px;
    color: rgba(254, 251, 246, 0.65);
    cursor: pointer;
}

.lang-picker__dropdown .lang-picker__text {
    padding: 4px;
}

.lang-picker__dropdown {
    position: absolute;
    background: #1A1D1D;
    z-index:1;
    border: 2px solid #731DD8;
    border-radius: 8px;
    left: -2px;
}

@media screen and (max-width: 767px) {
    .header {
        height: 104px;
    }

    .logo-row {
        height: 64px;
    }

    .logo {
        margin-top: 6px;
        width: 138px;
    }

    .nav-row {
        height: 40px;
    }

    .lang-picker__text {
        font-size: 16px;
        color: rgba(254, 251, 246, 0.65);
    }
}

div#navbarNav {
    justify-content: flex-end;
    overflow: auto;
    white-space: nowrap;
}

div#navbarNav a {
    display: inline-block;
}
