html,
body {
  scroll-behavior: smooth;
  background: linear-gradient(
      90deg,
      rgba(26, 29, 29, 0.95) 0%,
      rgba(26, 29, 29, 0.6175) 100%
    ),
    linear-gradient(90deg, #5b17ab 0%, #731dd8 100%), #1a1d1d;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1rem;
  margin: 0;
  position: relative;
}

body {
  --text-primary: #fefbf6;
  --text-secondary: rgba(254, 251, 246, 0.65);
  --text-inactive: rgba(254, 251, 246, 0.5);
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.0025em;
  }
  h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.0025em;
  }
  h3 {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.0025em;
  }
  p {
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.0025em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.0025em;
  }
  h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.0025em;
  }
  h3 {
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.0025em;
  }
  p {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.0025em;
  }
}

@media screen and (min-width: 1280px) {
  h1 {
    font-weight: 500;
    font-size: 64px;
    line-height: 76px;
    letter-spacing: 0.0025em;
  }
  h2 {
    font-weight: 500;
    font-size: 64px;
    line-height: 76px;
    letter-spacing: 0.0025em;
  }
  h3 {
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0.0025em;
  }
  p {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.0025em;
  }
}

.text-accent {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.005em;
}

.text-subscript {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.005em;
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-inactive {
  color: var(--text-inactive);
}

.container {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 654px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
    max-width: 880px;
  }
}

@media screen and (min-width: 1279px) and (max-width: 1919px) {
  .container {
    max-width: 1108px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1334px;
  }
}
